
.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 13px;
    background: rgb(17, 17, 148);
    align-items: center;
    .logo {
      font-size: 15px;
      color: white;
      font-weight: 700;
    }
}
    // .btn {
    //   background-color: white;
    //   padding: 10px;
    //   box-shadow: 3px 3px 3px rgb(255, 255, 255);
    //   text-decoration: none;
    // }
    // .btn:hover {
    //    background-color: rgb(240, 240, 240);
    //    box-shadow: 1px 1px 1px rgb(255, 255, 255);
    // }
  // }

  .main-nav-container {
    background: white;
    border-bottom: 1px solid #E6E6E6;
    height: auto;
    position: relative;
    box-sizing: border-box;
    display: block;
    font-size: 14px;
    width: 100%;
  }

  .navz-container {
    height: auto;
    position: fixed;
    box-sizing: border-box;
    display: block;
    font-size: 14px;
    width: 100%;
    z-index: 10001;
  }


.main-nav {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 32px;
    position: relative;

}

.main-nav-items {
    display: flex;
    flex-direction: row;
}

// css for dropdown may go here
// .dropbtn {
//   background-color: white;
//   color: rgb(17, 17, 148);
//   padding: 16px;
//   font-size: 16px;
//   border: none;
//   font-weight: 700;
// }

.dropbtn {
  background: none;
    border: 0;
    color: #1A1F2C;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    line-height: 48px;
    padding-right: 20px;
    text-transform: uppercase;
}

.dropbtn:hover {
  border-bottom: 2px solid rgb(17, 17, 148);
  color: rgb(44, 153, 255);
  text-decoration: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color:white;}

// .dropbtn2 {
//   background-color: #04AA6D;
//   color: white;
//   padding: 16px;
//   font-size: 16px;
//   border: none;
// }

// .dropdown2 {
//   position: relative;
//   display: inline-block;
// }

// .dropdown-content2 {
//   display: none;
//   position: absolute;
//   background-color: #f1f1f1;
//   min-width: 160px;
//   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
//   z-index: 1;
// }

// .dropdown-content2 a {
//   color: black;
//   padding: 12px 16px;
//   text-decoration: none;
//   display: block;
// }

// .dropdown-content2 a:hover {background-color: #ddd;}

// .dropdown2:hover .dropdown-content2 {display: block;}

// .dropdown2:hover .dropbtn2 {background-color: #3e8e41;}


.linkedIn-btn {
  background: none;
    border: 0;
    color: #1A1F2C;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    line-height: 48px;
    padding-right: 20px;
    text-transform: uppercase;
}

.linkedIn-btn:hover {
    border-bottom: 2px solid rgb(17, 17, 148);
    color: rgb(17, 17, 148);
    text-decoration: none;
}

// .linkedIn {
//   position: relative;
//   display: inline-block;
// }


// 


// .main-nav-items>ul {
//     list-style: none;
// }

// .main-nav-list {
//   display: flex;
//   flex-direction: row;
// }

// .mnv-li {
//   display: inline-block;
//   font-size: 14px;
//   height: 30px;
//   padding: 0 20px;
//   font-weight: 700;
// }

// .mnv-li:hover {
//   color: rgba(25, 118, 219, 255);
//   text-decoration: none;
//   font-weight: 700;
//   cursor: pointer;
// }

.main-nav-search {
  float: right;
  margin: 10px 0;
  width: 300px;
}
  // .user-show-nav-bar {
  //   display: flex;
  //   position: sticky;
  //   justify-content: right;
  //   padding: 20px;
  //   background: yellow;
  //   align-items: center;
  //   .btn {
  //     display: block;
  //     background-color: white;
  //     padding: 10px;
  //     box-shadow: 3px 3px 3px white;
  //     text-decoration: none;
  //   }
  //   .btn:hover {
  //      background-color: rgb(240, 240, 240);
  //      box-shadow: 1px 1px 1px white;
  //   }
  // }
   
  // login signup logout buttons

  button.login-btn {
    appearance: none;
    -webkit-appearance: none;
    background-color: rgb(17, 17, 148);
    color: white;
    font-weight: 800;
    border: rgb(17, 17, 148);
  }

  button.logout-btn {
    appearance: none;
    -webkit-appearance: none;
    background-color: rgb(17, 17, 148);
    color: white;
    font-weight: 800;
    border: rgb(17, 17, 148);
  }

  
  button.signup-btn {
    appearance: none;
    -webkit-appearance: none;
    background-color: rgb(17, 17, 148);
    color: white;
    font-weight: 800;
    border: rgb(17, 17, 148);
  }

  // home and account links

  link.home-link {
    appearance: none;
    -webkit-appearance: none;
    background-color: rgb(17, 17, 148);
    color: white;
    font-weight: 800;
  }