
.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: rgb(141, 99, 255);
    align-items: center;
    .logo {
      font-size: x-large;
    }
}
    // .btn {
    //   background-color: white;
    //   padding: 10px;
    //   box-shadow: 3px 3px 3px rgb(255, 255, 255);
    //   text-decoration: none;
    // }
    // .btn:hover {
    //    background-color: rgb(240, 240, 240);
    //    box-shadow: 1px 1px 1px rgb(255, 255, 255);
    // }
  // }

  .main-nav-container {
    background: rgb(71, 255, 117);
    border-bottom: 1px solid #E6E6E6;
    height: auto;
    position: relative;
    box-sizing: border-box;
    display: block;
    font-size: 14px;
    width: 100%;
  }

  .navz-container {
    height: auto;
    position: fixed;
    box-sizing: border-box;
    display: block;
    font-size: 14px;
    width: 100%;
    z-index: 10001;
  }


.main-nav {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 32px;


}

.main-nav-items {
    display: flex;
    flex-direction: row;
}

.main-nav-items>ul {
    list-style: none;
}

.main-nav-list {
  display: flex;
  flex-direction: row;
}

.mnv-li {
  display: inline-block;
  font-size: 14px;
  height: 30px;
  padding: 0 20px;
  font-weight: 700;
}

.mnv-li:hover {
  color: rgba(25, 118, 219, 255);
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
}

.main-nav-search {
  float: right;
  margin: 10px 0;
  width: 300px;
}
  // .user-show-nav-bar {
  //   display: flex;
  //   position: sticky;
  //   justify-content: right;
  //   padding: 20px;
  //   background: yellow;
  //   align-items: center;
  //   .btn {
  //     display: block;
  //     background-color: white;
  //     padding: 10px;
  //     box-shadow: 3px 3px 3px white;
  //     text-decoration: none;
  //   }
  //   .btn:hover {
  //      background-color: rgb(240, 240, 240);
  //      box-shadow: 1px 1px 1px white;
  //   }
  // }
   
  