

.sellcontainer {
    display: block;
    padding-left: 0px;
    padding-right: 0px;
    position: fixed;
    margin-top: 60px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sellerlanding {
    padding: 55px 0;

}

.sellerwrapper {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}


.sellertitle {
    -webkit-font-smoothing: antialiased;
    color: rgb(26, 31, 44);
    font-family: "Source Sans Pro", Helvetica, Arial, Geneva, sans-serif;
    margin: 0px;
    text-transform: none;
    font-size: 40px;
    font-weight: 200;
    line-height: 50px;
}

.sellvaluationcontainer {
    background-color: rgb(220, 246, 255);
    // margin: 0px auto 60px;
    // max-width: 928px;
    // padding-top: 56px;
    width: 100vw;
    // height: 50vh;
}

.sellvaltitle {
    margin-top: 32px;
    text-align: center;

    -webkit-font-smoothing: antialiased;
    color: rgb(26, 31, 44);
    font-family: "Source Sans Pro", Helvetica, Arial, Geneva, sans-serif;
    margin: 0px;
    text-transform: none;
    font-size: 20px;
    font-weight: 200;
    line-height: 50px;
}