

.sell-container {
    display: block;
    padding-left: 0px;
    padding-right: 0px;
    position: fixed;
    margin-top: 80px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.seller-landing {
    padding: 55px 0;

}

.seller-wrapper {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}


.seller-title {
    -webkit-font-smoothing: antialiased;
    color: rgb(26, 31, 44);
    font-family: "Source Sans Pro", Helvetica, Arial, Geneva, sans-serif;
    margin: 0px;
    text-transform: none;
    font-size: 40px;
    font-weight: 200;
    line-height: 50px;
}

.sell-tit-P {
    font-size: 30px;

}

.sell-valuation-container {
    background-color: rgb(220, 246, 255);
    // margin: 0px auto 60px;
    // max-width: 928px;
    // padding-top: 56px;
    width: 100vw;
    // height: 50vh;
    
}

.sell-val-title {
    margin-top: 32px;
    text-align: center;

    -webkit-font-smoothing: antialiased;
    color: rgb(26, 31, 44);
    font-family: "Source Sans Pro", Helvetica, Arial, Geneva, sans-serif;
    margin: 0px;
    text-transform: none;
    font-size: 20px;
    font-weight: 200;
    line-height: 50px;
}

.blurbs {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 32px;
}

.blurb-title {
    -webkit-font-smoothing: antialiased;
    color: rgb(26, 31, 44);
    font-family: "Source Sans Pro", Helvetica, Arial, Geneva, sans-serif;
    margin: 0px;
    text-transform: none;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;

}

.blurb-P {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: small;
}

.seperator {
    border-right: 2px solid grey;
    height: 60px;
}

.form-container {
    // position: relative;
    // box-sizing: border-box;
    font: 400 14px / 18px "Source Sans Pro", sans-serif;
    
    text-align: center;
}

.val-form {
    margin-top: 3px; 
    text-align: center;
    align-items: center;
}


.val-form {
    -webkit-box-align: center;
    
    // background-color: rgb(255, 255, 255);
    cursor: default;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    // justify-content: space-evenly;
    min-height: 40px;
    position: relative;
    transition: all 100ms ease 0s;
    box-sizing: border-box;
    // border: 1px solid rgb(205, 205, 205);
    outline: 0px !important;
}

.val-form-cap {
    font-family: "Source Sans Pro", Helvetica, Arial, Geneva, sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: 3px;
    color: rgb(26, 31, 44);
    font-size: 12px;
    font-weight: bold;
    line-height: 1.3;
    text-transform: uppercase;

}

.val-form-cap {
    flex: 0 1 200px;
}

.sell-submes-link {
    text-decoration: underline 1px;
    text-underline-offset: 3px;
    color: rgb(22, 77, 180);
    font-size: small;
    font-weight: 600;
}

// .st-add {
//     width: 100%;
//     // justify-content: space-between;
// }